body {
    background-color: #e5e7ea; 
}
/* NAVIGATION */
.navbar {
    background-color: #2c384c;
    margin: 0;
    border-radius: 0;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    padding: 15px 20px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 18px;
}
.navbar-inverse .navbar-nav li a:hover {
    background-color: #c0cfe8;
    transition: 0.7s all linear;
    height: 100%;
}
.navbar-inverse .navbar-toggle {
    border-color: #ffffff;
}
/* GALLERY */
.gallery_photos {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.thumbnail {
    margin: 5%;
}
/* FOOTER */
footer {
    background-color: #2c384c;
    color: #ffffff;
    font-weight: bold;
}
footer a:hover {
    color: #c0cfe8;
}
footer p {
    padding: 2%;
    text-align: right;
}
footer .fa {
    font-size: 30px;
}
footer button {
    background-color: #ffffff; 
    padding: 5px 15px;
    text-align: left;
    width: 60px;
    height: 40px;
    margin: 3% 5%;
}
footer button:hover {
    background-color: #11123B;
}


@media only screen and (max-width: 768px) {
    body {
        padding: 0;
        margin: 0;
        width: 100%;
    }  
    footer button {
        text-align: center;
        margin: 5%;
    }

}